$white: #F5EBF5;
$offWhite: #FAECDC;
$black: #1D1D1B;
$lightprimary: #E69889;
$mediumprimary: #DE5C49;
$darkprimary: #C93120;
$extraprimary: #d13d35;
$secundary: #F5BD2F;
$tertaire: #6CBE9D;
$fourth: blue;