.portfolio{
    display: flex;
    justify-content: center;
}

.container{
    width: 75%;
    display: grid;
    grid-template-columns:repeat(3, 30%);
    column-gap: 5%;
    row-gap: 5%;
}

.block{
    display: inline-block;
    padding: 1em;
    padding-bottom: 0em;
    border: 1px solid #ccc;
}

.block__img{
    width: 100%
}